<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Quiz</title>
<link rel="stylesheet" href="css/screen.css">
</head>
<body>
<div id="quizAnswer"></div>
<script id="questionAnswerTemplate" type="text/template">
<!--
        <ul>
            <li><%= question %></li>
            <li>1. <%= choice1 %></li>
            <li>2. <%= choice2 %></li>
            <li>3. <%= choice3 %></li>
			<li>4. <%= choice4 %></li>
        </ul>
-->
<form id="addQuestion" action="#">
<div> <label for="question"><%= question %>
</label><label for="choice1"><%= choice1 %></label><input
	type="radio" name="answer<%= id %>" value="1"/> <label for="choice2"><%= choice2 %></label><input
	type="radio" name="answer<%= id %>" value="2"/> <label for="choice3"><%= choice3 %></label><input
	type="radio" name="answer<%= id %>" value="3"/> <label for="choice4"><%= choice4 %></label><input
	type="radio" name="answer<%= id %>" value="4"/>
</div>
</form>

</script>
<script id="questionAnswerControls" type="text/template">
<div id="questionAnswerButtons">
	<% if(next) {%>
		<button class="next">Next</button>
	<%}%>
	<button class="save">Save</button>
</div>
</script>
<script src="js/jquery-1.7.1.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="js/model.js"></script>
<script src="js/view.js"></script>
</body>
</html>